body {
    background: rgb(2,0,36);
    background: linear-gradient(337deg, rgba(2,0,36,1) 0%, rgba(155,155,215,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


hr {
    height: 5px;
    width: 50%;
    background: transparent;
    border-top: 10px dotted blue;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 50px;

}


.btn-volver {
    background: linear-gradient(to right, #067070 0%, #42038f 100%);
    color: white;
    width: 100%;
   

}

h1 {
    margin-left: 10%;
}


h2 {
    margin-left: 20%
}



.name_user {
    font-weight: bold;

    background: linear-gradient(to right, #067070 0%, #42038f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 

}
.description {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
}





.form-contact {
    margin: 10% 30%;
}

.btn-contact {
    width: 100%;

}



/* table locals */

.btn-add {
    height: 50px;
    font-size: 1.5rem;
    background: linear-gradient(to right, #067070 0%, #42038f 100%);
    border: 2px solid white;
}


.btn-add:hover {
    background: linear-gradient(to right, #067070 0%, #541c99 100%);
    border: 1px solid white;
}


.btn-add-contact {
    background: linear-gradient(to right, #067070 0%, #42038f 100%);
}